/* .main-index {
    display: flex;
    justify-content: space-between;
    background-color: #F6F2FB;
    margin-top: 40px;
}

.main-left {
    width: 25%;
    padding: 5% 12%;
    text-align: center;
}

.main-right {
    width: 75%;
    margin: 5% 2%;
    padding: 3% 10% 3% 2%;
}

.main-right h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    margin-bottom: 20px;
    color: #000;
}

.main-right h1 .gradient {
    display: inline-block;
    background-image: linear-gradient(90deg, #AD46FF 0%, #E60076 100%), linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
}

.main-right p {
    width: 80%;
    color: #4A5565;
    font-size: 20px;
    font-weight: 400;
    line-height: 32.5px;
    margin-bottom: 30px;
    letter-spacing: 0px;
}

.main-right .btn {
    display: flex;
    padding: 5px 32px;
    background-color: #AD46FF;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 14px;
    text-decoration: none;
    float: right;
    margin-top: 40px;
}

.main-right a {
    font-size: 16px;
    font-weight: 500;
    line-height: 45px;
    color: #AD46FF;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.main-right a:hover {
    border-bottom: 2px solid #f50;
    transition: .3s;
}

.block {
    margin-bottom: 50px;
}

.block a {
    text-decoration: none;
    color: #000;
}

.block-img img {
    width: 759px;
    height: 402.07px;
    box-sizing: border-box;
}

.block-img {
    width: 759px;
    height: 402.07px;
}

.how-it-works {
    padding: 40px 10px;
    text-align: center;
}
.block-header-text {
    text-align: center;
    margin-top: 30px;
}
.block-header-text h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    margin-bottom: 20px;
}

.block-header-text p {
    color: #4A5565;
    font-size: 20px;
    font-weight: 400;
    line-height: 32.5px;
    margin: 0 auto 50px auto;
    letter-spacing: 0px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.card {
    width: 28%;
    background-color: #F6F2FB;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: left;
}

.card img {
    width: 80px;
    height: 80px;
    margin: 24px 0;
}

.card h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 20px 0;
}

.card p:first-child {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 0px;
}

.card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

}

.features {
    padding: 40px 10px;
    text-align: center;
}

.card-container-features {
    padding: 0 10%;
}

.card-container-features .card:first-child {
    width: 100%;
    background: linear-gradient(135deg, #E60076 0%, #F380BB 76.92%, #FFFFFF 100%);
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: left;
    margin-bottom: 20px;
}

.card-container-features .card:nth-child(2) {
    width: 100%;
    background: linear-gradient(135deg, #AD46FF 0%, #A32BFD 66.24%, #FFFFFF 100%);
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: left;
    margin-bottom: 20px;
}

.card-container-features .card:nth-child(3) {
    width: 100%;
    background: linear-gradient(135deg, #E60076 0%, #F380BA 77.52%, #FFFFFF 100%);
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: left;
    margin-bottom: 20px;
}

.card-container-features .card h3 {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
}

.card-container-features .card p {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
}

.analytics-section {
    padding: 40px 10%;
}

.analytics {
    display: flex;
    justify-content: space-between;
}

.analytics-card {
    width: 28%;
    background: linear-gradient(135deg, #FFFFFF 0%, #F9FAFB 100%);
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: left;
    border-top: 1px solid #E5E7EB
}

.analytics-card h3 {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
}

.analytics-card p {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
}

.analytics-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.analytics-card-header-text {
    display: flex;
    gap: 4px;
    background-color: #F0FDF4;
    border-radius: 10px;
    padding: 8px;
    color: #008236;
}

.analytics-card-header-text img {
    width: 16px;
    height: 16px;
    margin-top: 2px;
}

.analytics-card p:first-child {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0px;
}

.analytics-card p:last-child {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #6A7282;
}

.analytics-trends {
    background: linear-gradient(135deg, #FFFFFF 0%, #F9FAFB 100%);
    border-radius: 16px;
    border: 1px solid #E5E7EB;
    padding: 33px;
    margin-top: 40px;
}

.analytics-trends-card {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.analytics-trends-card h3 {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
}

.analytics-trends-buttons {
    display: flex;
    gap: 10px;
}

.analytics-trends-buttons button {
    padding: 8px 16px;
    background-color: #F6F2FB;
    border: none;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    cursor: pointer;
}

.analytics-trends-buttons button:hover {
    background-color: #AD46FF;
    color: #fff;
}

.analytics-trends-buttons button.active {
    background-color: #AD46FF;
    color: #fff;
}

.analytics-trends img {
    display: block;
    margin: 40px auto;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.benefits-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 10%;
    margin: 40px 0px;

}

.benefits-card:first-child {
    width: 44%;
    padding: 25px;
    text-align: left;
    background: linear-gradient(135deg, #FAF5FF 0%, rgba(243, 232, 255, 0.5) 100%);
    border-radius: 24px;
    border-top: 1px solid #E9D4FF;
}

.benefits-card:last-child {
    width: 44%;
    padding: 25px;
    text-align: left;
    background: linear-gradient(135deg, #FDF2F8 0%, rgba(252, 231, 243, 0.5) 100%);
    border-radius: 24px;
    border-top: 1px solid #E9D4FF;
}

.benefits-card-header {
    display: flex;
    gap: 8px;
    width: fit-content;
    align-items: center;
    margin-bottom: 20px;
    background: #AD46FF;
    border-radius: 16777200px;
    padding: 8px 16px;
}

.benefits-card:last-child .benefits-card-header {
    background: #F6339A;
}

.benefits-card-header img {
    width: 24px;
    height: 24px;
    color: #fff;
}

.benefits-card-header p {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #fff;
}

.benefits-container h3 {
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0px;
}

.benefits-card-body {
    display: flex;
    margin: 30px 0px;
}

.benefits-card-body img {
    width: 48px;
    height: 48px;
}

.benefits-card-body-text {
    margin-left: 10px;
}

.benefits-card-body-text h4 {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #101828;
}

.benefits-card-body-text p {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #4A5565;
}

.pricing-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    margin-bottom: 40px;
    gap: 20px;
}

.pricing-card {
    width: 30%;
    background: linear-gradient(135deg, #FFFFFF 0%, #F9FAFB 100%);
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: left;
    border-top: 2px solid #E5E7EB
}

.pricing-card h3 {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
}

.pricing-card p {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
}

.pricing-card .price {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0px;
    margin: 20px 0;
}

.pricing-card .btn {
    display: block;
    padding: 5px 32px;
    background-color: #F3F4F6;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    padding: 15px 2px;
}

.pricing-card .btn:hover {
    background-color: #00BBA7;
    transition: .3s;
    color: #fff;
}

.pricing-card .btn:active {
    background-color: #F6339A;
}

.pricing-card ul {
    list-style: none;
    padding: 0;
}

.pricing-card ul li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.checkmark {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.ready-block {
    text-align: center;
    padding: 10% 27%;
    background: linear-gradient(135deg, #AD46FF 0%, #F6339A 50%, #9810FA 100%);
    color: #fff;
}

.ready-block h2 {
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: center;
}

.ready-block p {
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 32.5px;
    letter-spacing: 0px;
    text-align: center;
    margin: 20px auto;
}

.ready-block .btn {
    width: fit-content;
    display: flex;
    padding: 15px 32px;
    background-color: #fff;
    color: #AD46FF;
    font-size: 16px;
    font-weight: 500;
    border-radius: 14px;
    text-decoration: none;
    margin: 20px auto 0;
}

.ready-block-benefits-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.ready-block-benefits {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.legend {
    display: flex;
    gap: 20px;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.legend-item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon {
    position: relative;
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: currentColor;
}
.icon::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 2px solid currentColor;
    border-radius: 50%;
}
.systolic {
    color: #9361FF;
}
.diastolic {
    color: #D8589C;
}
.text {
    font-size: 18px;
    font-weight: 400;
}
.container-base{
    width: 48px;
    height: 48px;
    background-color: #AD46FF;
    border-radius: 10px;
}
.container-base img {
    width: 24px;
    height: 24px;
    margin: 12px;
}
.benefits-card:last-child .container-base {
    background-color: #F6339A;
}
.pricing-section{
    padding: 40px 10px;
    text-align: center;
}

.pricing-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.pricing-card-header p {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #fff;
    background: linear-gradient(90deg, #00BBA7 0%, #155DFC 100%);
    padding: 8px 16px;
    border-radius: 10px;
}

.pricing-card:nth-child(2){
    border: 2px solid #00BBA7;
    box-shadow: 0px 8px 10px -6px #0000001A;
    box-shadow: 0px 20px 25px -5px #0000001A;
}
.pricing-card:nth-child(2) .btn{
    background-color: #00BBA7;
    color: #fff;
}

.pricing-card:nth-child(2) .btn:hover{
    background-color: #F3F4F6;
    color: #000;
}
.card-container-features .card:first-child .container-base {
    background: linear-gradient(135deg, #AD46FF 0%, #9810FA 100%);
}
.card-container-features .card:nth-child(2) .container-base {
    background: linear-gradient(135deg, #F6339A 0%, #E60076 100%);
}
.card-container-features .card:nth-child(3) .container-base {
    background: linear-gradient(135deg, #9810FA 0%, #8200DB 100%);
}
.recent-analyses-head{
    display: flex;
    justify-content: space-between;
} */