header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 5%;
    border-bottom: 1px solid #F3F4F6;
    margin: 0px 5%;
}
.head-logo a{
    text-decoration: none;
    color: #101828;
    font-size: 50px;
    font-weight: 600;
}
.head-search{
    display: flex;
    width: 35%;
    height: 50px;
}
.head-search input{
    width: 100%;
    border: 1px solid #E7E7E7;
    padding: 5px 7px;
    outline: none;
}
.head-button{
    display: flex;  
    width: 24%;
    height: 50px;
}
.buttons:first-child{
    padding: 5px 10px;
    width: 40%;
    margin-right: 15px;
    border-radius: 4px;
    text-decoration: none;
    color: #4A5565;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons:last-child{
    padding: 5px 10px;
    width: 40%;
    margin-right: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    background: #AD46FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-img{
    width: 62px;
    height: 62px;
}
.head-nav{
    display: flex;
    justify-content: space-between;
}
.nav-link{
    text-decoration: none;
    color: #4A5565;
    font-size: 20px;
    font-weight: 500;
    margin: 0 32px;
}
.nav-link:hover{
    color: #9810FA;
} 
.nav-link.active{
    color: #9810FA;
    border-bottom: 2px solid #9810FA;
}
